$ona-orange:            #FF5D00;
$ona-secondary:         #407784;
$ona-green:             #28A745; // Green-base 700
$ona-red:               #BD0303; // Red-base 800
$ona-dark:              #758196; // Black 100
$ona-light:             #F7F6EF;
$ona-gray:              #868E96;
$ona-dark-gray:         #53627C;
$ona-black:             #0A1F44;
$ona-yellow:            #FFC107;
$ona-blue:              #0078E7;

$primary:                 $ona-orange;
$secondary:               $ona-secondary;
$success:                 $ona-green;
$info:                    $ona-blue;
$warning:                 $ona-yellow;
$danger:                  $ona-red;
$light:                   $ona-light;
$dark:                    $ona-dark;
