// Variable Imports
@import './colors.scss';
@import './fonts.scss';
@import './buttons.scss';

// Global Variables
$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-lg: 4px;

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import 'node_modules/bootstrap/scss/functions.scss';
// @import 'node_modules/bootstrap/scss/variables.scss';
// @import 'node_modules/bootstrap/scss/mixins.scss';

// Style Imports
@import './buttons.scss';
